### Gradle template
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# others
*.log
.idea/
gradlew*
build
gradle
packages-lock.json
node_modules
yarn.lock
bin
tmp
EDU.CONFERENCE.log
EDU.CONFERENCE.*.gz