@import "../general/variables";
@import "../general/mixins";

.users {
  &--search {
    max-width: 60%;
    margin: 0 auto $size-lg auto;

    @include respond(950px) {
      max-width: 80%;
    }

    @include respond(500px) {
      max-width: 95%;
    }
  }

  &--wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $size-md;

    @include respond(1600px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond(950px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(650px) {
      grid-template-columns: 1fr;
    }
  }

  &--user {
    display: flex;
    @include flexColumn;
    @include contentBackdrop;
    padding: $size-md $size-lg;

    p:not(:last-of-type) {
      margin-bottom: $size-sm;
    }

    p:first-of-type {
      font-size: $font-users--name;
      margin: 0 auto $size-md auto;
      font-weight: 500;
    }

    p:not(:first-of-type) {
      font-size: $font-users--text;
    }

    p, a {
      @include flexAlignCenterize;

      & > svg {
        width: $size-md;
        height: $size-md;
        color: $color-main;
        margin-right: $size-sm;
      }
    }

    &__delete {
      background-color: $color-bg;
      padding: $size-sm * 0.5 $size-sm * 0.75;
      border-radius: 5px;
      border: 1px solid rgba($color-red, .5);
      @include transitionAnimate(all, $animation-speed);

      &:hover,
      &:active {
        border-color: $color-red;
        color: $color-red;
      }
    }
  }

  &--pagination {
    margin-top: $size-lg;
    width: 100%;
    @include flexCenterize;
    flex-wrap: wrap;
    padding-top: $size-md;

    a {
      font-size: $font-profile--pagination;
      border: 1px solid rgba($color-grey--mid, .5);
      padding: $size-sm * .75 $size-sm;
      border-radius: 5px;

      @include respond(450px) {
        padding: $size-sm * .6 $size-sm * .9;
      }

      &:hover,
      &:active {
        border-color: $color-main;
      }

      &.active {
        border: 1px solid $color-main;
      }
    }

    a:not(:last-of-type) {
      margin-right: $size-sm * .75;
    }
  }

  &--msg {
    font-size: $font-notfound;
    @include flexAlignCenterize;
    justify-content: center;

    @include respond(750px) {
      @include flexColumn;
      text-align: center;
    }

    svg {
      width: 4rem;
      height: 4rem;
      margin-right: 2rem;
      stroke: $color-main;

      @include respond(750px) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }
}