<!DOCTYPE html>
<html lang="hu">

{{> head }}

<body>
<div class="content" id="content">

    {{> header }}

    {{> popup }}

    <div class="sub-page-heading">
        <h2 class="sub-page-heading--header">Konferenciáról</h2>
    </div>
    <section class="aboutus">
        <div class="subsection">
            <div class="subsection__divider"></div>
            <h5 class="subsection__heading">Általánosan a konferenciáról</h5>
        </div>
        <section class="aboutus--general">
            <p>Az Európai Diákok Tudományos Konferenciája (EDTK) biztosítja a reál- és humántudományok különböző
                területein
                romániai és külföldi felsőoktatási intézmények hallgatói számára, hogy összemérjék saját kutatási
                eredményeiket,
                szakmai tudásukat.</p>
            <p>Az konferenciára nevezni vágyó egyetemi hallgatók számos szekció közül választhatnak reál- és
                humántudományi
                területekről. Jelentkezni az online felületen lehet március 7-ig az EDTK honlapján, ahol a rengeteg
                hasznos
                információ mellett a meghirdetett szekciók is megtalálhatók.</p>
            <p>A fent említett időpontig csak a személyes adatokat kell megadni. A kivonatokat (a dolgozat
                összefoglalója), a
                szakdolgozat témáját, címét illetve szakmai vezetőjét és a tanári igazolást március 7-ig kérjük a
                szervezőkhöz
                eljuttatni ugyancsak az online felületre belépve. A dolgozatok végleges változatát május 5-ig
                elektronikusan,
                május
                8. és 5. között pedig személyesen várjuk a jelentkezőket adatellenőrzésre. Az EDTK szervezői bizottsága
                az elmúlt
                évekhez hasonlóan a Kolozsvári Magyar Diákszövetség, Babeş–Bolyai Tudományegyetem, és a Kolozsvári
                Magyar Egyetemi
                Intézet.</p>
            <p>Megnyitó előadás május 27-én reggel 9 órától kezdődik, a megnyitó előadást intéző személye később hír
                formájában
                kerül publikálásra. Ezután az egyes reál- és humántudományi szekciók bemutatói 12.00-tól kezdődnek, és a
                konferencia
                első 3 napjára szerveződnek, 29.-i végzéssel.</p>
        </section>
        <div class="subsection">
            <div class="subsection__divider"></div>
            <h5 class="subsection__heading">Miért éri meg résztvenni a konferencián?</h5>
        </div>
        <p class="aboutus--mpr">A konferencián való részvételnek számos szakmai, illetve gyakorlati haszna van, amely
            minden
            egyetemi hallgató, leendő kutató számára kihagyhatatlan lehetőségeket nyújt és megalapozza gyakorlati
            felkészültségüket.</p>
        <div class="aboutus--grid">
            <section class="aboutus--grid__cell">
                <h5 class="aboutus--title">Tapasztalatszerzés</h5>
                <p class="aboutus--text">Egy EDTK-dolgozat megírása közben szerzett tapasztalatok, élmények, bírálatok
                    nagyon
                    hasznosnak bizonyulnak az államvizsga-dolgozat megírásakor. A hallgató EDTK-n való részvétele
                    pozitív ténynek
                    számít államvizsga-dolgozatának értékelésénél.</p>
            </section>
            <section class="aboutus--grid__cell">
                <h5 class="aboutus--title">Magyar szaknyelv elsajátítása</h5>
                <p class="aboutus--text">Az EDTK a magyar szaknyelv elsajátításához nagyszerű alkalmat nyújt, ugyanakkor
                    kiválóan
                    fejleszti neked, mint potenciális résztvevőnek a szóbeli előadókészséged. Egy tudományos pálya
                    sikere pedig nem
                    egyszer áll vagy bukik az előadói képességen.</p>
            </section>
            <section class="aboutus--grid__cell">
                <h5 class="aboutus--title">Publikáció</h5>
                <p class="aboutus--text">Az EDTK-n bemutatott dolgozatok szakmai publikációnak számítanak. Nagyon jól
                    mutatnak
                    majd
                    a szakmai önéletrajzodban.</p>
            </section>
            <section class="aboutus--grid__cell">
                <h5 class="aboutus--title">Pénzbeli jutalom</h5>
                <p class="aboutus--text">Egy EDTK-díj elsősorban szakmai-erkölcsi siker, de részben anyagi siker is: a
                    nyertes
                    dolgozatok szerzői ugyanis pénzbeli díjakban részesülnek.</p>
            </section>
            <section class="aboutus--grid__cell">
                <h5 class="aboutus--title">Kapcsolati háló</h5>
                <p class="aboutus--text">Szakmai és személyes kapcsolatokat építhetsz ki egyetemi oktatókkal, tudományos
                    kutatókkal,
                    szakemberekkel és nem utolsó sorban más magyar egyetemi hallgatókkal, ami elősegíti későbbi
                    együttműködésedet
                    velük. Az EDTK összegyűjti a diáktudományos tevékenység eredményeit, résztvevőit és bírálóit
                    egyaránt.</p>
            </section>
        </div>
    </section>

    {{> footer }}

</div>
</body>
</html>
