<!DOCTYPE html>
<html lang="hu">

{{> head }}

<body>
<div class="content" id="content">

    {{> header }}

    {{> popup }}

    <div class="sub-page-heading">
        <h2 class="sub-page-heading--header">Határidők</h2>
    </div>
    <section class="deadline">
        <div class="deadline--card">
            <div class="deadline--card__date">
                <svg fill="none"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg"
                     stroke="currentColor">
                    <path d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1"></path>
                </svg>
                Március 7
            </div>
            <h5 class="deadline--card__title">Online jelentkezés és kivonat feltöltés</h5>
            <p class="deadline--card__text">Miután a regisztrációs felület megnyilt, a jelentkezőknek egészen 2022
                március
                7.-ig
                lehetőségük van kivonatuk feltöltésével leadni jelentkezésüket.</p>
        </div>
        <div class="deadline--card">
            <div class="deadline--card__date">
                <svg fill="none"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg"
                     stroke="currentColor">
                    <path d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1"></path>
                </svg>
                Május 5
            </div>
            <h5 class="deadline--card__title">Dolgozatok online beküldése</h5>
            <p class="deadline--card__text">Március 8. és május 5. között van lehetőségük a kivonatot beküldött
                jelentkezők
                számára dolgozataik feltöltésére.</p>
        </div>
        <div class="deadline--card">
            <div class="deadline--card__date">
                <svg fill="none"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg"
                     stroke="currentColor">
                    <path d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1"></path>
                </svg>
                Május 8
            </div>
            <h5 class="deadline--card__title">Dolgozatok ellenőrzése</h5>
            <p class="deadline--card__text">A beküldött dolgozatok adatellenőrzése a szakmai csapatunk által május 7. és
                8.
                között
                zajlik.</p>
        </div>
        <div class="deadline--card">
            <div class="deadline--card__date">
                <svg fill="none"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg"
                     stroke="currentColor">
                    <path d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1"></path>
                </svg>
                Május 25
            </div>
            <h5 class="deadline--card__title">Dolgozatok előzetes értékelése</h5>
            <p class="deadline--card__text">Dolgozatok előzetes értékelését a szakmai zsűrink május 13. és május 25.
                között
                teszi
                meg.</p>
        </div>
    </section>

    {{> footer }}

</div>
</body>
</html>