<!DOCTYPE html>
<html lang="hu">

{{> head }}

<body>
<div class="content" id="content">

    {{> header }}

    {{> popup }}

	<div class="sub-page-heading">
		<h2 class="sub-page-heading--header">Gyakran Ismételt Kérdések</h2>
	</div>
	<section class="faq">
		<div class="accordion">
			<div class="accordion--q">
				<button type="button">Mikor kerül a konferencia megszervezésre?
					<svg fill="none"
					     viewBox="0 0 24 24"
					     xmlns="http://www.w3.org/2000/svg"
					     stroke="currentColor">
						<path d="M9 5l7 7-7 7"
						      stroke-linecap="round"
						      stroke-linejoin="round"
						      stroke-width="2"></path>
					</svg>
				</button>
			</div>
			<div class="accordion--a">
				<p>2022 tavaszán május 27 és 30 között ismét megrendezésre kerül immár harmincadik alkalomra az EDTK.</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion--q">
				<button type="button">Lehetséges-e a konferenciára való jelentkezés egyetemi hallgatói
					státusz nélkül?
					<svg fill="none"
					     viewBox="0 0 24 24"
					     xmlns="http://www.w3.org/2000/svg"
					     stroke="currentColor">
						<path d="M9 5l7 7-7 7"
						      stroke-linecap="round"
						      stroke-linejoin="round"
						      stroke-width="2"></path>
					</svg>
				</button>
			</div>
			<div class="accordion--a">
				<p>Az EDTK-ra kizárólag olyan személyek jelentkezhetnek, amelyek bármely egyetemnél bizonyítható módon aktív
					hallgatói státusszal rendelkeznek.</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion--q">
				<button type="button">Mutathat be egy adott szerző több dolgozatot is?
					<svg fill="none"
					     viewBox="0 0 24 24"
					     xmlns="http://www.w3.org/2000/svg"
					     stroke="currentColor">
						<path d="M9 5l7 7-7 7"
						      stroke-linecap="round"
						      stroke-linejoin="round"
						      stroke-width="2"></path>
					</svg>
				</button>
			</div>
			<div class="accordion--a">
				<p>Egy szerző több dolgozatot is bemutathat; egy adott dolgozat csak egy szekcióban mutatható be.</p>
			</div>
		</div>
		<div class="accordion">
			<div class="accordion--q">
				<button type="button">Beadhat-e dolgozatot valamely szerző valamely idegennyelven?
					<svg
							fill="none"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
							stroke="currentColor">
						<path d="M9 5l7 7-7 7"
						      stroke-linecap="round"
						      stroke-linejoin="round"
						      stroke-width="2"></path>
					</svg>
				</button>
			</div>
			<div class="accordion--a">
				<p>A kivonat és a dolgozat szövege kötelezően magyar nyelvű.</p>
			</div>
		</div>
	</section>

    {{> footer }}

</div>
</body>
</html>