<footer class="footer">
	<div class="footer--backdrop"></div>
	<div class="footer--grid">
		<div class="footer--col">
			<div class="footer--logo"><img alt="EDTK logó"
			                               src="./img/logo.svg"></div>
			<div class="footer--date__wrapper">
				<h3 class="footer--date">XXX. Európai Diákok Tudományos Konferenciája</h3>
				<h3 class="footer--date">Kolozsvár</h3>
				<h3 class="footer--date">2022. Május 27-30</h3>
			</div>
		</div>
		<div class="footer--col">
			<h5 class="footer--list__title">Általános tudnivalók</h5>
			<ul class="footer--list">
				<li class="footer--list__item"><a class="link"
				                                  href="aboutus">Konferenciáról</a></li>
				<li class="footer--list__item"><a class="link"
				                                  href="rules">Szabályok</a></li>
				<li class="footer--list__item"><a class="link"
				                                  href="steps">Jelentkezés lépései</a></li>
				<li class="footer--list__item"><a class="link"
				                                  href="conditions">Követelmények</a></li>
				<li class="footer--list__item"><a class="link"
				                                  href="deadlines">Határidők</a></li>
				<li class="footer--list__item"><a class="link"
				                                  href="faq">GYIK</a></li>
			</ul>
		</div>
		<div class="footer--col">
			<h5 class="footer--list__title">Egyéb elérések</h5>
			<ul class="footer--list">
				<li class="footer--list__item"><a class="link"
				                                  href="contact">Kapcsolat</a></li>
			</ul>
		</div>
		<div class="footer--copyright">
			<p>Készítette 2021-ben Lukács Zsolt</p>
		</div>
</footer>
<div class="scrollback hidden"><a class="scrollback--btn"
                                  href="#root">
		<svg viewBox="0 0 24 24"
		     xmlns="http://www.w3.org/2000/svg"
		     fill="none"
		     stroke="currentColor">
			<path d="M5 10l7-7m0 0l7 7m-7-7v18"
			      stroke-linecap="round"
			      stroke-linejoin="round"
			      stroke-width="2"></path>
		</svg>
	</a>
</div>

<script src="./static/script.js"></script>