<!DOCTYPE html>
<html lang="hu">

{{> head }}

<body>
<div class="content" id="content">

    {{> header }}
    
    {{> popup }}

    <div class="forgotten--wrapper">
        <p class="forgotten--message">Kérlek add meg az e-mail címet, ahová az emlékeztetőt várod!</p>
        <form action="forgottenpassword" method="post">
            <div class="input-text">
                <label for="forgotten-mail">E-mail cím</label>
                <input type="text"
                       name="forgotten-mail"
                       id="forgotten-mail">
            </div>
            <button type="submit" class="btn btn--cta">Elküld</button>
        </form>
    </div>

    {{> footer }}

</div>
</body>
</html>