<!DOCTYPE html>
<html lang="hu">

{{> head }}

<body>
<div class="content" id="content">

    {{> header }}
    
    {{> popup }}

    <div class="forgotten--wrapper">
        <p class="forgotten--message">Kérlek add meg az e-mail címet, ahová az emlékeztetőt várod!</p>
        <form action="forgottenpassword" method="post">
            <div class="input-text">
                <label for="forgotten-mail">E-mail cím</label>
                <input type="text"
                       name="forgotten-mail"
                       id="forgotten-mail">
            </div>
            <button type="submit" class="btn btn--cta">Elküld</button>
        </form>
    </div>

    {{> footer }}

</div>
</body>
</html>

<!--
<div class="forgotten--wrapper">
            <p class="forgotten--message">Add meg az új jelszót a jelszó megváltoztatásához</p>
            <form action='<?php echo "forgottenpassword.php?email={$_GET['email']}&code={$_GET['code']}" ?>' method="post"
                  id="changepwd">
                <div class="input-text">
                    <label for="changepwd-new">Új jelszó</label>
                    <input type="password"
                           name="changepwd-new"
                           id="changepwd-new">
                    <small class="info">
                        <svg viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             stroke="currentColor">
                            <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                        </svg>
                        * – Jelszó min. 8 karakterből kell állnia, 1 nagybetűvel, és 1 számmal.</small>
                </div>
                <small class="input-error <?php echo isset($errors['new']) ? 'show' : '' ?>">
                    <svg
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            stroke="currentColor">
                        <path d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"></path>
                    </svg>
                    Nem megfelelő jelszóformátum</small>
                <div class="input-text">
                    <label for="changepwd-newconf">Új jelszó megerősítése</label>
                    <input type="password"
                           name="changepwd-newconf"
                           id="changepwd-newconf">
                </div>
                <small class="input-error <?php echo isset($errors['newconf']) ? 'show' : '' ?>">
                    <svg
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            stroke="currentColor">
                        <path d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"></path>
                    </svg>
                    Nincs egyezés a megadott jelszóval</small>
                <button type="submit" class="btn btn--cta">Jelszó megváltoztatása</button>
            </form>
        </div>
-->
