<!DOCTYPE html>
<html lang="hu">

{{> head }}

<body>
<div class="content">

    {{> header }}

<div class="sub-page-heading">
	<h2 class="sub-page-heading--header">Szabályok</h2>
</div>
<div class="rules-page">
	<p class="rules-page--mpr">A konferencián való részvételhez számos általános, illetve specifikus részvételi szabálynak
		kell eleget tenni minden hallgatónak, azonban a szervezők a szabályzat és konferenciaprogram változtatásának jogát
		fenntartják.</p>
	<div class="rules-page--grid">
		<div class="rules-page--wrapper">
			<h5 class="rules-page--title">Részvételi szabályok</h5>
			<ol class="rules-page--olist">
				<li class="rules-page--olist__item">Minden romániai felsőoktatási intézmény (alapképzésben vagy mesterképzésben
					részt vevő) hallgatójának joga van az EDTK bármely szekciójában dolgozatot bemutatni, ha a jelentkezési
					feltételeket teljesíti.
				</li>
				<li class="rules-page--olist__item">A külföldi felsőoktatási intézmények hallgatói is bemutathatják tudományos
					munkájukat, a többi résztvevővel azonos feltételek mellett helyezést érhetnek el, díjat viszont nem kaphatnak.
				</li>
				<div class="rules-page--misc-wrapper">
					<p class="rules-page--comment">Megjegyzés: A Minősítés mezőnek a következő öt lehetséges tartalma lehet: I.
						díj,
						II. díj, III, díj, dicséret (D) vagy különdíj (K).</p>
					<ul class="rules-page--list">
						<li class="rules-page--list__item">Az I. díjra való minősítés feltétele: a végső pontszám ≥ 90 pont;</li>
						<li class="rules-page--list__item">II. díjra való minősítés feltétele: a végső pontszám ≥ 80 pont;</li>
						<li class="rules-page--list__item">III. díj, dícséret vagy különdíj esetén a feltétel: végső pontszám ≥ 70
							pont.
						</li>
					</ul>
				</div>
				<li class="rules-page--olist__item">A jelentkezési határidő minden részt venni szándékozó csapat számára
					kötelező,
					utólagos jelentkezéseket nem áll módunkban elfogadni.
				</li>
				<li class="rules-page--olist__item">Szekciónként lehetőleg egy-egy, de legfeljebb két-két I., II. és III. díjat
					lehet kiosztani.
				</li>
				<li class="rules-page--olist__item">A bírálóknak, illetve a különböző támogatóknak ugyanakkor jogában áll
					tetszés
					szerint különdíjat kiosztani.
				</li>
			</ol>
		</div>
		<div class="rules-page--wrapper">
			<h5 class="rules-page--title">Dolgozatra vonatkozó általános feltételek</h5>
			<ol class="rules-page--olist">
				<li class="rules-page--olist__item">Maximum öt szerzője lehet.</li>
				<li class="rules-page--olist__item">Kötelező módon van legalább egy, legfeljebb három témavezetője.</li>
				<li class="rules-page--olist__item">Egy szerző több dolgozatot is bemutathat; egy adott dolgozat csak egy
					szekcióban mutatható be.
				</li>
				<li class="rules-page--olist__item">A dolgozat feleljen meg a korszerű tudományos kritériumoknak.</li>
				<li class="rules-page--olist__item">Megközelítésében és megírásában legyen eredeti.</li>
				<li class="rules-page--olist__item">Nem lehet a tantervben előírt valamely feladat megoldása, szemináriumi
					dolgozat, országos vagy nemzetközi szintű konferenciákon már bemutatott dolgozat, már megvédett szakdolgozat
					vagy államvizsga-dolgozat, de lehet helyi (intézményi) szintű konferencián már bemutatott dolgozat.
				</li>
				<li class="rules-page--olist__item">A kivonat és a dolgozat szövege magyar nyelvű.</li>
				<li class="rules-page--olist__item">Egyes szekciók bírálói plusz feltételeket szabhatnak ki.</li>
			</ol>
		</div>
	</div>
</div>

    {{> footer }}

</div>
</body>
</html>
