<!DOCTYPE html>
<html lang="hu">

{{> head }}

<body>
<div class="content" id="content">

    {{> header }}

    {{> popup }}

    <div class="sub-page-heading">
        <h2 class="sub-page-heading--header">Jelentkezés lépései</h2>
    </div>
    <div class="steps-page">
        <p class="steps-page--mpr">A konferenciára való jelentkezés több szakaszt és lépést foglal magába, amelyet
            minden
            jelentkező egyetemi hallgatónak szigorúan bekell tartania. A tudományos konferenciára jelentkezni a megadott
            határidő
            lejárta előtt lehet, kizárólag az oldalon.</p>
        <div class="steps-page--grid">
            <div class="steps-page--wrapper">
                <h5 class="steps-page--title">Online jelentkezés – március 7-ig</h5>
                <p class="steps-page--pr">Az online jelentkezés magába foglalja a honlapon található <a
                        class="inner-link"
                        href="registration">regisztrációs
                    űrlap ↗</a> kitöltését a jelentkező egyetemi hallgatók, illetve témavezető
                    tanár(ok) adataival. Minden esetben különösen vigyázzunk arra, hogy a szolgáltatott adatok
                    megfelelnek a
                    valóságnak.</p>
            </div>
            <div class="steps-page--wrapper">
                <h5 class="steps-page--title">Kivonatok feltöltése – március 7-ig</h5>
                <p class="steps-page--pr">A konferencián résztvevő egyetemi hallgatók regisztrációjuk utolsó lépéseként
                    dolgozatuk
                    kivonatát és felkell töltsék, melyről további információkat a <a class="inner-link"
                                                                                     href="conditions">Követelmények
                        ↗</a>
                    oldalon találhatnak.</p>
            </div>
            <div class="steps-page--wrapper">
                <h5 class="steps-page--title">Dolgazatok online beküldése – május 5-ig</h5>
                <p class="steps-page--pr">A tavaszi időszak során egészen május 5-ig a hallgatók dolgozatuk végső
                    változatát is
                    felkell töltsék a honlap rendszerébe. Amennyiben ezt valamelyik jelentkező nem teszi meg, abban az
                    esetben
                    jelentkezése érvényét veszti!</p>
            </div>
        </div>
    </div>

    {{> footer }}

</div>
</body>
</html>