@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./general/variables";
@import "./general/mixins";

*,
*::after,
*::before {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  box-sizing: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px; // 10px = 1rem;
  scroll-behavior: smooth;
  @include respond(3000px) {
    font-size: 11px;
  }
  @include respond(2560px) {
    font-size: 10px;
  }
  @include respond(1920px) {
    font-size: 9px;
  }
  @include respond(1100px) {
    font-size: 8px;
  }
  @include respond(350px) {
    font-size: 7px;
  }
}

body {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  color: $color-text;
  background-color: $color-bg;
  position: relative;
}

::-moz-selection {
  background: rgba($color-selection--bg, .7);
  color: $color-selection--text;
}

::selection {
  background: rgba($color-selection--bg, .7);
  color: $color-selection--text;
}

/* RESETS */
ul {
  list-style-type: none;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  background: transparent;

  &:focus {
    outline: none;
  }
}

input,
option,
select {
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: currentColor;
  @include transitionAnimate(all, $animation-speed);

  &:focus,
  &:hover {
    text-decoration: none;
    color: $color-main--darker;
  }
}

ul {
  padding-left: 0;
}

li::before {
  display: none;
}

a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
span {
  color: $color-text;
  letter-spacing: .02em;
}

p {
  margin: 0;
}

fieldset {
  border: none;
}

form input,
form textarea {
  @include transitionAnimate(all, $animation-speed);
}

.__content {
  white-space: pre;
}

.__color-grey {
  stroke: rgba($color-text, .6);
}

.__color-red {
  stroke: $color-red;
}

/* Animations */
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

@import "./aboutus-page/aboutus";
@import "./conditions-page/conditions";
@import "./contact-page/contact";
@import "./deadline-page/deadline";
@import "./faq-page/faq";
@import "./landing-page/conditions";
@import "./landing-page/maincountdown";
@import "./landing-page/sponsors-organizers";
@import "./landing-page/steps";
@import "./landing-page/welcome-msg";
@import "./landing-page/why-join";
@import "./reg-page/regpage";
@import "./rules-page/rules";
@import "./steps-page/steps";
@import "./profile-page/profilepage";
@import "./users-page/users";

@import "./general/accordion";
@import "./general/buttons";
@import "./general/content";
@import "./general/footer";
@import "./general/header";
@import "./general/headings";
@import "./general/info";
@import "./general/input";
@import "./general/link";
@import "./general/loader";
@import "./general/mixins";
@import "./general/notfound";
@import "./general/login";
@import "./general/scrollback";
@import "./general/subpageheading";
@import "./general/subsection-divider";
@import "./general/forgotten";
@import "./general/changepwd";
@import "./general/admin";
@import "./general/popup";
@import "./general/modify";