@import 'variables.scss';
@import 'mixins.scss';

.general-message {
	&--wrapper {
		min-height: 26rem;
		margin: 0 auto;
		max-width: 75%;
		@include flexCenterize;
		@include flexColumn;

		@include respond(900px) {
			max-width: 90%;
		}
	}

	&--message {
		font-size: $font-notfound * .9;
		@include flexAlignCenterize;

		@include respond(750px) {
			@include flexColumn;
			text-align: center;
		}

		svg {
			width: 4rem;
			height: 4rem;
			margin-right: 2rem;

			@include respond(750px) {
				margin-right: 0;
				margin-bottom: 2rem;
			}

			&.success {
				fill: transparent;
				stroke: $color-green;
			}

			&.failure {
				fill: $color-red;
			}
		}
	}

	&--redirect {
		font-size: $font-notfound * .5;
		text-align: center;
		margin-top: $size-md;
		color: $color-grey--mid;
	}
}

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;

	& div {
		position: absolute;
		top: 33px;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background: $color-btn;
		animation-timing-function: cubic-bezier(0, 1, 1, 0);

		&:nth-child(1) {
			left: 8px;
			animation: lds-ellipsis1 0.6s infinite;
		}

		&:nth-child(2) {
			left: 8px;
			animation: lds-ellipsis2 0.6s infinite;
		}

		&:nth-child(3) {
			left: 32px;
			animation: lds-ellipsis2 0.6s infinite;
		}

		&:nth-child(4) {
			left: 56px;
			animation: lds-ellipsis3 0.6s infinite;
		}
	}
}

@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}